.RecentTransactions {
  background: #fff;
  margin-top: 15px;
}

.RecentTransactions-Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.RecentTransactions-Header h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.add-btn {
  background: none;
  color: black;
  border: none;
  width: 24px;
  height: 24px;
  font-size: 24px;
  cursor: pointer;
  right: 30px;
  position: relative;
}

.RecentTransactions-Table {
  width: 100%;
  border-collapse: collapse;
}

.RecentTransactions-Table th,
.RecentTransactions-Table td {
  padding: 10px 8px;
  text-align: left;
  font-size: 14px;
}

.RecentTransactions-Table th {
  color: #7D7D7D;
  font-weight: 600;
}

.RecentTransactions-Table td.amount {
  color: #111;
}

@media (max-width: 450px) {
  .add-btn {
    position: relative;
    right: 47px;
  }
}